/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #f4f4f9;
    --primary-color: #3498db;
    --primary-hover: #2980b9;
    --primary-active: #2471a3;
    --text-color: #333;
    --border-color: #ccc;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contêiner principal para flexbox */
.container {
    display: flex;
    flex-direction: column; /* Organiza título e conteúdo em coluna */
    align-items: center; /* Centraliza o título e o conteúdo horizontalmente */
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 0 2rem; /* Espaçamento lateral */
}

/* Contêiner para botões e webcam */
.content {
    display: flex;
    justify-content: space-between; /* Espaça botões e webcam */
    align-items: center; /* Alinha verticalmente */
    width: 100%; /* Ocupa toda a largura disponível */
    margin-top: 1rem; /* Espaço acima do contêiner de conteúdo */
}

/* Contêiner da webcam */
.webcam-container {
    width: 500px; /* Largura para a visualização da webcam */
    height: 300px; /* Altura para a visualização da webcam */
    background-color: #ddd; /* Cor de fundo para simular a área da webcam */
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Alinha conteúdo verticalmente */
    justify-content: center; /* Centraliza conteúdo horizontalmente */
}

/* Estilos gerais */
h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 1rem; /* Espaço abaixo do título */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Estilo dos botões */
.button-container {
    display: flex;
    flex-direction: column; /* Organiza botões em coluna */
    align-items: flex-start; /* Alinha os botões à esquerda */
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.5rem 0; /* Espaçamento vertical entre os botões */
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: var(--primary-hover);
    transform: translateY(-5px);
}

button:active {
    background-color: var(--primary-active);
    transform: translateY(0);
}

/* Layout responsivo */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    button {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    button {
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
    }
}
